@{
    ViewBag.Title = "Nguyễn Văn Hiếu";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.msv</h3>
<h3>@ViewBag.fulname</h3>

<address>
    K22Cnt4<br />
    -AspNet Mvc5<br />
    <abbr title="Phone">P:</abbr>
    092313345454
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Hieumao@example.com">Hieumao@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>