USE [NvhK22CNT4Lesson07db]
GO
/****** Object:  Table [dbo].[nvhKhoa]    Script Date: 6/12/2024 2:58:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[nvhKhoa](
	[NvhMaKH] [nchar](10) NOT NULL,
	[NvhTenKH] [nvarchar](50) NULL,
	[NvhTrangThai] [bit] NULL,
 CONSTRAINT [PK_nvhKhoa] PRIMARY KEY CLUSTERED 
(
	[NvhMaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[nvhSinhVien]    Script Date: 6/12/2024 2:58:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[nvhSinhVien](
	[NvhMaSV] [nvarchar](50) NULL,
	[NvhHoSV] [nvarchar](50) NULL,
	[NvhTenSV] [nvarchar](50) NULL,
	[NvhNgaySinh] [date] NULL,
	[NvhPhai] [nchar](10) NULL,
	[NvhPhone] [nchar](10) NULL,
	[NvhEmail] [nvarchar](50) NULL,
	[NvhMaKH] [nchar](10) NULL
) ON [PRIMARY]
GO
INSERT [dbo].[nvhKhoa] ([NvhMaKH], [NvhTenKH], [NvhTrangThai]) VALUES (N'K22CNT4   ', N'K22CNT3', 1)
GO
INSERT [dbo].[nvhSinhVien] ([NvhMaSV], [NvhHoSV], [NvhTenSV], [NvhNgaySinh], [NvhPhai], [NvhPhone], [NvhEmail], [NvhMaKH]) VALUES (N'2210900102', N'Nguyễn Văn ', N'Hiếu', CAST(N'2004-06-24' AS Date), N'true      ', N'0192838475', N'example@gmail.com', N'K22CNT4   ')
GO
