@{
    ViewBag.Title = "Nguyễn Văn Hiếu";
}
<h2>@ViewBag.Title.</h2>
<h3>Bài thi giữa kì của Nguyễn Văn Hiếu - Cam kết không đạo văn </h3>

<address>
    K22CNT4- Công nghệ lập trình web với công nghệ Asp.net Mvcs
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:NvHieu@example.com">NvHieu@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:VanHieu@example.com">VanHieu@example.com</a>
</address>