@{
    ViewBag.Title = "Nguyễn Văn Hiếu";
}
<h2>@ViewBag.Title.</h2>
<h3></h3>

<address>
    Luyện tập với Database First
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Nvh2004@example.com">Nvh2004@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:NvhMar@example.com">NvhMar@example.com</a>
</address>